@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300;600&display=swap");

#navBar {
  background-color: cornsilk;
  padding: 10px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  padding-right: 50px;
  background-color: #ffffff;
  word-spacing: 30px;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  text-decoration: none;
  line-height: 65px;
  justify-content: space-between;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Hero {
  background-image: url(../images/wave3.jpg);
  background-attachment: fixed;
  padding: 300px;
}

nav h1 {
  text-align: left;
  word-spacing: 1px;
  font-family: "Italiana", sans-serif;
}

#headline {
  background-color: rgba(255, 255, 255, 0.8);

  position: absolute;
  right: 300px;

  padding: 25px;
  max-width: 550px;
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}

.RoundMe {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  top: 250px;
  left: 200px;
}

.subHeading {
  font-family: "Italiana", sans-serif;
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
}
.CaseStudies {
  margin: 0px 5%;
  display: grid;
  padding-bottom: 150px;
  padding-top: 30px;
  grid-template-rows: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "houstonJustice mealMixer energyGov";
}

@media (max-width: 700px) {
  .CaseStudies {
    grid-template-areas:
      "houstonJustice"
      "mealMixer"
      "EmergyGov";
  }
}

#houstonJustice {
  grid-area: houstonJustice;
  background-image: url("../images/BWBG.jpg");
}
#mealMixer {
  grid-area: mealMixer;
  background-image: url("../images/BG4.jpg");
}

#energyGov {
  grid-area: energyGov;
  background-image: url("../images/tubes.jpg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;

  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
  height: 25px;
  color: rgb(0, 0, 0);

  font-family: "Italiana", sans-serif;
  font-size: 30px;
  border-bottom: 5px solid #ff3b3f;
}

footer {
  background-color: #3f4860;
  padding: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #f8faff;
  font-size: 20px;
}
footer h1 {
  font-family: "Italiana", sans-serif;
  text-align: center;
  font-size: 30px;
}
